header img {
  width: 300px;
}

/* .infos_recette {
  height: 60px;
} */
.container_card_recipes article {
  /* border: 1px solid #333; */
  border-radius: 5px;
}

.col-12 article {
  background: #e7e7e7;
  margin: 10px;
  width: 30%;
}
.container i {
  cursor: pointer;
}
.container {
  margin: 50px 100px;
}
.cardRecipe {
  height: 450px;
  background-color: #e7e7e7;
}
.bgImg {
  background-color: #c7bebe;
}
