header img {
  width: 300px;
}

.infos_recette {
  height: 150px;
}
.container_card_recipes article {
  border: 1px solid #333;
}
article img {
  object-fit: cover;
  width: 100%;
}
.col-12 article {
  background: #e7e7e7;
  margin: 10px;
  width: 30%;
}
.container i {
  cursor: pointer;
}
